/* BASE */
@import '/fonts/drukWide/style.css';
@import '/fonts/TTTravels/stylesheet.css';
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@-webkit-keyframes comment {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes comment {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "TT Travels", serif;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.main {
  overflow-x: hidden;
}

.container {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  font-size: 96px;
  font-weight: 400;
  line-height: 80%;
  text-align: center;
}
.title1_hero span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  font-style: italic;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(169, 209, 55)), to(rgb(67, 209, 55)));
  background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
}

.title2 {
  font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  font-weight: 400;
  line-height: 80%;
  text-align: center;
}
.title2_benefits span {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  font-style: italic;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(169, 209, 55)), to(rgb(67, 209, 55)));
  background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
}
.title2_info {
  color: rgb(170, 213, 84);
  font-size: 144px;
  font-weight: 700;
  font-style: italic;
  line-height: 80%;
  text-align: unset;
}

.title3_type {
  color: #000;
  font-style: italic;
  font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  font-weight: 800;
  line-height: 80%;
}
.title3_comments {
  color: rgb(255, 255, 255);
  font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  font-style: italic;
  font-weight: 700;
  line-height: 80%;
}

.subtitle_benefits {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  font-weight: 400;
  line-height: 154%;
  text-align: center;
}
.subtitle_info {
  color: rgb(74, 74, 74);
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 154%;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body.light-theme {
  background-color: #dddddd;
  color: #121212;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body.light-theme .hero__item {
  color: #000;
}
body.light-theme .hero__form {
  background-color: #f7f7f7;
}
body.light-theme .hero__form input {
  color: #000;
}
body.light-theme .hero__form input::-webkit-input-placeholder {
  color: #000;
}
body.light-theme .hero__form input::-moz-placeholder {
  color: #000;
}
body.light-theme .hero__form input:-ms-input-placeholder {
  color: #000;
}
body.light-theme .hero__form input::-ms-input-placeholder {
  color: #000;
}
body.light-theme .hero__form input::placeholder {
  color: #000;
}
body.light-theme .works {
  background-color: #fafafa;
}
body.light-theme .benefits p {
  color: #000;
}
body.light-theme .comments__comment {
  color: #fff;
}
body.light-theme .footer__span {
  color: #fff;
}

body.dark-theme {
  background-color: #121212;
  color: #dddddd;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body.dark-theme .hero__item {
  color: #fff;
}
body.dark-theme .hero__form {
  background-color: rgb(37, 37, 37);
}
body.dark-theme .hero__form input {
  color: #fff;
}
body.dark-theme .hero__form input::-webkit-input-placeholder {
  color: #fff;
}
body.dark-theme .hero__form input::-moz-placeholder {
  color: #fff;
}
body.dark-theme .hero__form input:-ms-input-placeholder {
  color: #fff;
}
body.dark-theme .hero__form input::-ms-input-placeholder {
  color: #fff;
}
body.dark-theme .hero__form input::placeholder {
  color: #fff;
}
body.dark-theme .works {
  background-color: #1D1D1D;
}
body.dark-theme .benefits p {
  color: #fff;
}
body.dark-theme .comments__comment {
  color: #fff;
}
body.dark-theme .footer__span {
  color: rgb(36, 36, 36);
}

/* BASE */
/* BLOCK */
.header {
  padding: 32px 0;
}

.header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 2fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-columns: 2fr 3fr 2fr 1fr 1fr 1.5fr 1.5fr;
}

.header__item_title {
  font-family: "Druk Wide Bold Bold", serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
  line-height: 80%;
}
.header__item_title span {
  color: #a8cf36;
}

.header__logotype {
  width: 50px;
}

.header__link {
  font-family: "Druk Wide Bold Bold", serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
  line-height: 80%;
}
.header__link:hover {
  color: #a8cf36;
}

.header__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__item_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgb(49, 49, 49);
  width: 19px;
  height: 19px;
}
.header__button_active {
  border: 1px solid #a8cf36;
}

.hero {
  margin-top: 50px;
  margin-bottom: 310px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}

.hero__item {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 80%;
  text-align: center;
}

.hero__title {
  margin-top: 26px;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 530px;
  margin-top: 42px;
  border-radius: 30px;
  background: rgb(37, 37, 37);
}
.hero__form input {
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form input::-webkit-input-placeholder {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form input::-moz-placeholder {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form input:-ms-input-placeholder {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form input::-ms-input-placeholder {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form input::placeholder {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 80%;
}
.hero__form button {
  padding: 27px 34px;
  border-radius: 30px;
  background: linear-gradient(202.78deg, rgb(169, 209, 55) 43.952%, rgb(67, 209, 55) 92.622%);
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 80%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.hero__form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works {
  padding: 80px 0 170px;
}

.works__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 21px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 21px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 21px;
}

.works__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.works__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.works__grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.works__grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.works__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}
.works__card_purple {
  background: rgb(229, 225, 243);
}
.works__card_green {
  background-image: url(/content/main/works/greenCard/greenBg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.works__card_dark {
  background-color: #c1bab0;
}
.works__card_white {
  background-image: url(/content/main/works/whiteCard/whiteBg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.works__card_white img {
  border-radius: unset;
}
.works__card:hover {
  cursor: pointer;
}

.works__image_main {
  border-radius: 15px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__image_secondary {
  position: absolute;
  z-index: inherit;
}

.works__image_secondary-purpleCloud {
  left: 0;
  top: -280px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__image_secondary-purpleBoot {
  z-index: 1;
  left: -69px;
  bottom: 63px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__card_purple:hover .works__image_secondary-purpleCloud,
.works__card_purple:hover .works__image_secondary-purpleBoot {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.works__card_purple:hover .works__image_main {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works__image_secondary-greenJuice {
  z-index: 2;
  -webkit-transform: translate(0%, 60%);
          transform: translate(0%, 60%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__card_green:hover .works__image_secondary-greenJuice {
  -webkit-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
  opacity: 1;
}
.works__card_green:hover .works__image_main {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works__card_dark .works__image_main {
  z-index: 5;
}

.works__card_dark:hover .works__image_main {
  -webkit-transform: scale(1.1) rotate(-15deg);
          transform: scale(1.1) rotate(-15deg);
}
.works__card_dark:hover .works__image_dark-darkBoot {
  -webkit-transform: scale(1.7) translate(0%, -15%);
          transform: scale(1.7) translate(0%, -15%);
  opacity: 1;
}
.works__card_dark:hover .works__image_dark-darkCardSecondary {
  -webkit-transform: scale(1.1) rotate(30deg) translate(20%, 50%);
          transform: scale(1.1) rotate(30deg) translate(20%, 50%);
  opacity: 1;
}

.works__image_dark-darkBoot {
  -webkit-transform: scale(1.7) translate(-33%, -15%);
          transform: scale(1.7) translate(-33%, -15%);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__image_dark-darkCardSecondary {
  opacity: 0;
  -webkit-transform: scale(1.1) rotate(0deg) translate(20%, 50%);
          transform: scale(1.1) rotate(0deg) translate(20%, 50%);
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__card_white:hover .works__image_dark-coconutSmall {
  -webkit-transform: translate(80%, 60%) rotate(0) scale(1);
          transform: translate(80%, 60%) rotate(0) scale(1);
  opacity: 1;
}
.works__card_white:hover .works__image_main {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.works__card_white:hover .works__image_dark-coconutLarge {
  -webkit-transform: translate(-40%, 44%) rotate(14deg) scale(1);
          transform: translate(-40%, 44%) rotate(14deg) scale(1);
  opacity: 1;
}

.works__image_dark-coconutSmall {
  z-index: 5;
  -webkit-transform: translate(80%, 60%) rotate(-35deg) scale(0);
          transform: translate(80%, 60%) rotate(-35deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__image_dark-coconutLarge {
  -webkit-transform: translate(-40%, 44%) rotate(0deg) scale(0);
          transform: translate(-40%, 44%) rotate(0deg) scale(0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1200px) {
  .works__grid {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
  }
  .works__card {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 650px;
    height: 650px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .works__image_secondary {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .works__card {
    height: 450px;
  }
}
.benefits {
  padding: clamp(150px, 2.33rem + 35.23vw, 460px) 0;
}

.benefits__info {
  position: relative;
}

.benefits__title {
  margin-bottom: 30px;
}

.benefits__subtitle {
  max-width: 800px;
  margin: 0 auto;
}

.button_benefits {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 23px clamp(7px, -0.085rem + 2.61vw, 30px);
  margin-left: 55%;
  border-radius: 30px;
  background: linear-gradient(202.78deg, rgb(169, 209, 55) 43.952%, rgb(67, 209, 55) 92.622%);
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 80%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.button_benefits:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.benefits__image-whiteForm {
  position: absolute;
  right: 12%;
  top: -50%;
  z-index: -1;
}

.benefits__image-blackForm {
  position: absolute;
  left: 5%;
  bottom: -20%;
  z-index: -1;
}

.benefits__image-sign {
  position: absolute;
  left: 10%;
  top: -130%;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .benefits__image-blackForm,
  .benefits__image-whiteForm,
  .benefits__image-sign {
    display: none;
  }
  .button_benefits {
    margin: 23px auto 0;
  }
}
.type__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.type__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type__elem_white {
  height: 900px;
  background-image: url(/content/main/type/bg-white.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.type__elem_white ul li {
  font-size: 18px;
}
.type__elem_white h3 {
  font-size: 96px !important;
}

.type__elem_green {
  height: 560px;
  background-image: url(/content/main/type/bg-green.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: -120px;
}
.type__elem_green h3 {
  color: #fff;
}
.type__elem_green ul li {
  color: #fff;
  font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
}

.type__card_green {
  max-height: 490px;
}

.comments__span {
  font-size: 96px;
  font-weight: 700;
  line-height: 80%;
  color: #fff;
  font-style: italic;
  margin-left: 33px;
}
.comments__span_white {
  color: #000;
}

.type__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  max-width: 460px;
  width: 100%;
  margin-top: -60px;
  padding: clamp(50px, 0.739rem + 11.93vw, 155px) 42px;
}

.type__card_white {
  position: relative;
  max-height: 650px;
}

.type__card_title {
  margin-bottom: clamp(30px, 1.193rem + 3.41vw, 60px);
}

.type__card_list li {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 154%;
}

@media screen and (max-width: 1200px) {
  .type__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: clamp(140px, 6.25rem + 12.5vw, 250px);
  }
  .type__elem {
    max-width: 650px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .type__card_white {
    margin-top: unset;
    height: 100%;
  }
  .type__card_green {
    margin-top: unset;
    height: 100%;
    max-height: unset;
  }
  .type__elem_white {
    height: 500px;
    border-radius: 20px;
  }
  .type__elem_white .comments__span {
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
  }
  .type__elem_white ul li {
    font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  }
  .type__elem_white h3 {
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
  }
  .type__elem_green {
    height: 500px;
    border-radius: 20px;
  }
  .type__elem_green .comments__span {
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
  }
  .type__elem_green ul li {
    font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
  }
  .type__elem_green h3 {
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  }
}
.comments {
  padding: 130px 0 250px;
}

.comments__image-dark,
.comments__image-light {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.comments__image-vector {
  position: absolute;
  z-index: -2;
  top: -65%;
  left: 0;
}

.comments__row {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  margin-top: clamp(40px, -0.455rem + 14.77vw, 170px);
}

.comments__item {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.comments__item:hover .comments__comment {
  -webkit-animation: comment 0.2s linear forwards;
          animation: comment 0.2s linear forwards;
}

.comments__comment {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .comments__row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .comments__row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .comments__image-vector {
    top: -35%;
  }
}
@media screen and (max-width: 400px) {
  .comments__row {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
  }
  .comments__image-vector {
    top: -6%;
  }
}
.info {
  position: relative;
  background-color: #fff;
  padding: 100px 0 0;
}

.info__wrapper {
  padding-bottom: 100px;
}

.info__name {
  color: rgb(74, 74, 74);
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 154%;
}

.info__title {
  margin: 50px 0;
}

.info__subtitle {
  max-width: 650px;
}

.info__image-person {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.footer {
  padding: 50px 0;
}

.footer__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__span {
  position: absolute;
  color: rgb(36, 36, 36);
  font-family: "Druk Wide Bold Bold", serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80%;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  color: rgb(125, 125, 125);
  font-size: 14px;
  font-weight: 700;
  line-height: 80%;
}

.footer__logotype {
  width: 50px;
}

/* BLOCK */