.footer {
  padding: 50px 0;
}

.footer__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.footer__span {
  position: absolute;

  color: rgb(36, 36, 36);
  font-family: $drukBold;
  font-size: clamp(30px, 0.739rem + 5.68vw, 80px);
  font-weight: 700;
  line-height: 80%;
  z-index: -1;
  top: 50%;
  // left: -8%;

  transform: translateY(-50%);
}

.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 40px;

  color: #7d7d7d;
  font-size: 14px;
  font-weight: 700;
  line-height: 80%;
}

.footer__logotype {
  width: 50px;
}

.footer__social_icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .footer__socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@include mediaSemiTablet {
  .footer__social {
    display: none;
  }
  .footer__social_icon {
    display: block;
    img {
      max-width: 30px;
    }
  }

  .footer__socials {
    display: flex;
  }
}
