.info {
  position: relative;
  background-color: $colorWhite;
  padding: clamp(50px, 1.989rem + 5.68vw, 100px) 0 0;
}

.info__wrapper {
  padding-bottom: clamp(50px, 1.989rem + 5.68vw, 100px);
}

.info__name {
  color: rgb(74, 74, 74);
  font-style: italic;
  font-size: clamp(10px, 0.443rem + 0.91vw, 18px);
  font-weight: 400;
  line-height: 154%;
}
.info__title {
  margin: clamp(25px, 0.994rem + 2.84vw, 50px) 0;
}
.title2 {
}
.title2_info {
}
.info__subtitle {
  max-width: 650px;
}

.info__image-person {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@include largeTablet {
  .info__image-person {
    position: unset;
    margin: 0 auto;
  }

  .info__wrapper_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .info__wrapper_image-sign {
    flex-shrink: 1;
  }
}
