.type {
}
.container {
}
.type__row {
  display: flex;
  align-items: start;
  column-gap: 20px;
}

.type__elem {
  display: flex;
  justify-content: center;
}
.type__elem_white {
  height: 900px;

  background-image: url(/content/main/type/bg-white.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;

  ul {
    li {
      font-size: 18px;
    }
  }

  h3 {
    font-size: 96px !important;
  }
}

.type__elem_green {
  height: 560px;

  background-image: url(../content/main/type/bg-green.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    color: $colorWhite;
  }

  ul {
    li {
      color: $colorWhite;
      font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
    }
  }

  width: 100%;

  margin-top: -120px;
}

.type__card_green {
  max-height: 490px;

  // &::before {
  //   position: absolute;
  //   left: 90px;
  //   top: 80px;
  //   content: "02";
  //   font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  //   font-weight: 700;
  //   line-height: 80%;
  //   color: $colorWhite;
  //   font-style: italic;
  // }
}

.comments__span {
  // position: absolute;
  // left: 90px;
  // top: 80px;
  // content: "02";
  font-size: 96px;
  font-weight: 700;
  line-height: 80%;
  color: $colorWhite;
  font-style: italic;
  margin-left: 33px;

  &_white {
    color: $colorBlack;
  }
}

.type__card {
  box-sizing: border-box;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 20px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);

  max-width: 460px;
  width: 100%;

  margin-top: -60px;

  padding: clamp(50px, 0.739rem + 11.93vw, 155px) 42px;
}
.type__card_white {
  position: relative;
  max-height: 650px;

  // &::before {
  //   position: absolute;
  //   left: 90px;
  //   top: 80px;
  //   content: "01";
  //   font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  //   font-weight: 700;
  //   line-height: 80%;
  //   color: $colorBlack;
  //   font-style: italic;
  // }
}
.type__card_title {
  margin-bottom: clamp(30px, 1.193rem + 3.41vw, 60px);
}

.type__card_list {
  li {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 154%;
  }
}

@media screen and (max-width: 1200px) {
  .type__row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: clamp(140px, 6.25rem + 12.5vw, 250px);
  }

  .type__elem {
    max-width: 650px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .type__card_white {
    margin-top: unset;
    height: 100%;
  }

  .type__card_green {
    margin-top: unset;
    height: 100%;
    max-height: unset;
  }

  .type__elem_white {
    height: 500px;
    border-radius: 20px;

    .comments__span {
      font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
    }

    ul {
      li {
        font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
      }
    }

    h3 {
      font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
    }
  }

  .type__elem_green {
    height: 500px;
    border-radius: 20px;

    .comments__span {
      font-size: clamp(50px, 2.08rem + 5.23vw, 96px) !important;
    }

    ul {
      li {
        font-size: clamp(14px, 0.784rem + 0.45vw, 18px);
      }
    }

    h3 {
      font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
    }
  }
}
