body {
  font-family: $travels;
  // color: ;
  font-size: 16px;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.container {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  font-size: 96px;
  font-weight: 400;
  line-height: 80%;
  text-align: center;

  &_hero {
    span {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;

      font-weight: 800;
      font-style: italic;
      background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
    }
  }
}

.title2 {
  font-size: 96px;
  font-weight: 400;
  line-height: 80%;
  text-align: center;

  &_benefits {
    span {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;

      font-weight: 800;
      font-style: italic;
      background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
    }
  }

  &_info {
    color: rgb(170, 213, 84);
    font-size: 144px;
    font-weight: 700;
    font-style: italic;
    line-height: 80%;
    text-align: unset;
  }
}

.title3 {
  &_type {
    color: $colorBlack;
    font-style: italic;
    font-size: 96px;
    font-weight: 800;
    line-height: 80%;
  }

  &_comments {
    color: rgb(255, 255, 255);
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 80%;
  }
}

.subtitle {
  &_benefits {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 154%;
    text-align: center;
  }

  &_info {
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 154%;
  }
}

