body {
  font-family: $travels;
  // color: ;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.main {
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  // z-index: 20;
  z-index: 0;

  opacity: 0;
  visibility: hidden;
}

.overlay-show {
  animation: overlay 0.3s linear forwards;
}

.overlay-showRev {
  animation: overlayReverse 0.3s linear forwards;
}


.container {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  font-size: clamp(40px, 1.227rem + 6.36vw, 96px);
  font-weight: 400;
  line-height: 80%;
  text-align: center;

  &_hero {
    span {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;

      font-weight: 800;
      font-style: italic;
      background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
    }
  }
}

.title2 {
  font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
  font-weight: 400;
  line-height: 80%;
  text-align: center;

  &_benefits {
    span {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;

      font-weight: 800;
      font-style: italic;
      background-image: linear-gradient(rgb(169, 209, 55), rgb(67, 209, 55));
    }
  }

  &_info {
    color: rgb(170, 213, 84);
    font-size: clamp(34px, -0.375rem + 12.5vw, 144px);
    font-weight: 700;
    font-style: italic;
    line-height: 80%;
    text-align: unset;
  }
}

.title3 {
  &_type {
    color: $colorBlack;
    font-style: italic;
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
    font-weight: 800;
    line-height: 80%;
  }

  &_comments {
    color: rgb(255, 255, 255);
    font-size: clamp(50px, 2.08rem + 5.23vw, 96px);
    font-style: italic;
    font-weight: 700;
    line-height: 80%;
  }
}

.subtitle {
  &_benefits {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: clamp(12px, 0.614rem + 0.68vw, 18px);
    font-weight: 400;
    line-height: 154%;
    text-align: center;
  }

  &_info {
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: clamp(12px, 0.614rem + 0.68vw, 18px);
    font-weight: 400;
    line-height: 154%;
  }
}
