/*FONTS*/

$travels: "TT Travels", serif;
$drukBold: "Druk Wide Bold Bold", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorAccent: #a8cf36;

$colorLightBg: #dddddd;
$colorLightText: #121212;

$colorDarkBg: #121212;
$colorDarkText: #dddddd;

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
