/*FONTS*/

$travels: "TT Travels", serif;
$drukBold: "Druk Wide Bold Bold", serif;
$mulish: 'Mulish', serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorBlack: #000;
$colorAccent: #a8cf36;
$colorAccentHover: #baf01b;

$colorLightBg: #dddddd;
$colorLightBgSecondary: #fafafa;
$colorLightText: #121212;
$colorLightBgFormHeader: #f7f7f7;

$colorDarkBg: #121212;
$colorDarkBgSecondary: #1D1D1D;
$colorDarkText: #dddddd;
$colorDarkBgFormHeader: rgb(37, 37, 37);

/*COLORS*/

/*MEDIA*/

$largeTablet: 1200px;
$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
